.Ressource-1{
   color:#27ae60 !important
}
.Building-2{
   color:#2c3e50 !important
}
.Technology-3{
   color:#2980b9 !important
}
.Event-4{
   color:#c0392b !important
}
.Buildingextension-5{
   color:#34495e !important
}
