/* Menu */
#elements-list-menu{
  margin: 2.5%;
  text-align: center;

  .menu-item{
    padding: 0.5%;
  }
}

/* Elements table */
#elements-list-table{
  border-collapse: collapse;
  width: 95%;
  margin: 0 2.5% 5% 2.5%;
  font-family: calibri;
  font-size: 120%;

  .elements-list-th, .elements-list-td{
  	border: 3px solid @midnight_blue;
  }

  .elements-list-th{
  	background-color: @midnight_blue;
  	color:  white;
  }

  .elements-list-td{
  	background-color: none;
  	color:  @midnight_blue;
  }
}

.element-td{
  padding: 0;
 
  div.infos{
    padding: 5px;
    margin 0 -1px;

    div.name {
      float: left;
      margin: 0;
      padding: 0 0 0 5px;

      font-weight: bold;
    }

    div.tags{
      float: right;
      margin: 0;
      padding: 0 5px 0 0;
    }

    div.description {
      clear: both;
      margin: 0;
      padding: 0 0 0 5px;
      
      span{
        font-style: italic;
      }
    }
  }
}

.from-td, .to-td{
  ul{
    list-style: circle;
  }  
}

.buttons-td{
  text-align: center;
  
  button{
    margin: 5px 0;
  }
}

.condition{
  font-style: italic;
}


/* Edit form */
.modal-edit-element{
  width: 60%;

  .form-content{
    min-height:500px;
  }

  .form-subtitle{
    margin-top: 2%;
  }

  .form-content-link table{
    border-collapse: collapse;

    td{
      border: 1px solid @midnight_blue;
      padding: 2px;
      text-align: center;

      textarea{
        width: 100%;
        height: 100%;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
      }
    }
  }
}

