@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
/* Définition des couleurs flatuicolors.com */
/* Définition des class des couleurs flatuicolors.com pour le color picker*/
/* Css Général */
/* Header */
/*Footer */
/* Les modaux */
/* GENERAL */
/* SPECIFIC */
/* Menu */
/* Elements table */
/* Edit form */
/* Category table */
/* Color picker*/
.turquoise {
  color: #1abc9c;
}
.emerald {
  color: #2ecc71;
}
.green_sea {
  color: #16a085;
}
.nephritis {
  color: #27ae60;
}
.peter_river {
  color: #3498db;
}
.belize_hole {
  color: #2980b9;
}
.amethyst {
  color: #9b59b6;
}
.wisteria {
  color: #8e44ad;
}
.sun_flower {
  color: #f1c40f;
}
.orange {
  color: #f39c12;
}
.carrot {
  color: #e67e22;
}
.pumpkin {
  color: #d35400;
}
.alizarin {
  color: #e74c3c;
}
.pomgranate {
  color: #c0392b;
}
.wet_asphalt {
  color: #34495e;
}
.midnight_blue {
  color: #2c3e50;
}
.clouds {
  color: #ecf0f1;
}
.silver {
  color: #bdc3c7;
}
.concrete {
  color: #95a5a6;
}
.asbestos {
  color: #7f8c8d;
}
html,
body {
  background-color: ;
  color: #2c3e50;
  margin: 0;
  padding: 0;
  height: 100%;
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -3em;
}
#push,
#footer {
  height: 3em;
  clear: both;
}
#header .main-title {
  text-align: center;
  padding: 2.5%;
}
#header .main-title h1 {
  color: #2c3e50;
  font-size: 40px;
  font-family: 'Calibri', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-shadow: 0px 1px 1px #95a5a6;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px rgba(0,0,0,0.1);
}
#header .main-title h1 span {
  border-top: 2px solid #2980b9;
  border-bottom: 2px solid #2980b9;
}
#header .menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
#header .menu li {
  display: inline-block;
  margin: 0 5px;
}
#header .menu li a {
  text-decoration: none;
  padding: 3px 16px;
  color: white;
  background-color: #2c3e50;
}
#header .menu li .current {
  padding: 1px 16px;
  border-top: 2px solid #2980b9;
  border-bottom: 2px solid #2980b9;
}
#header .menu li a:hover {
  color: white;
  background-color: #34495e;
}
#footer {
  text-align: center;
  position: relative;
  bottom: 0px;
  line-height: 3em;
  width: 99%;
}
#footer span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
a {
  text-decoration: none;
  color: #2980b9;
}
a:visited {
  color: #9b59b6;
}
a:hover {
  text-decoration: underline;
}
.modal {
  display: none;
  background-color: #ecf0f1;
  border: 1px solid #2c3e50;
  padding: 2%;
}
table.form-table {
  border-collapse: collapse;
  margin: auto;
  width: 100%;
}
table.form-table td.input-td {
  text-align: left;
  padding: 1% 1% 1% 3%;
  width: 70%;
}
table.form-table td.input-td input,
table.form-table td.input-td select,
table.form-table td.input-td textarea {
  width: 100%;
}
table.form-table td.label-td {
  text-align: right;
  padding: 1% 3% 1% 1%;
  width: 30%;
}
table.form-table td.button-td {
  text-align: center;
}
table.form-table td.space-td {
  height: 20px;
}
.form-title {
  text-align: center;
  padding: 5px 10px;
  font-size: 30px;
  font-family: 'Calibri', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-shadow: 0px 1px 1px #95a5a6;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px rgba(0,0,0,0.1);
}
.form-subtitle {
  text-align: center;
  padding: 2px 5px;
  font-size: 20px;
  font-family: 'Calibri', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-shadow: 0px 1px 1px #95a5a6;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px rgba(0,0,0,0.1);
}
div.form-button {
  text-align: center;
  padding: 5px 10px;
}
input,
textarea {
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: 12px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  margin: 0;
  background: #fff;
}
input:focus,
textarea:focus {
  border: 1px solid #aaa;
  color: #444;
  -webkit-box-shadow: 0 0 3px #8eaaca;
  box-shadow: 0 0 3px #8eaaca;
}
input:disabled,
textarea:focus {
  background: none;
}
.button {
  border: 1px solid #cccccc;
  background-color: #e0d8d8;
  color: #2c3e50;
  padding: 7px;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  font-family: 'Calibri', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0px 1px 0 #ffffff;
}
.button:hover {
  border: 1px solid #cccccc;
  background-color: #f1f1f1;
}
.button-confirm:hover {
  background-color: #52BE80;
}
.button-cancel:hover {
  background-color: #CD6155;
}
.button-add:hover {
  background-color: #F5B041;
}
.button-remove:hover {
  background-color: #CD6155;
}
.button-delete:hover {
  background-color: #CD6155;
}
.button-edit:hover {
  background-color: #5499C7;
}
.button-show:hover {
  background-color: #5499C7;
}
.button-generate:hover {
  background-color: #F5B041;
}
#elements-list-menu {
  margin: 2.5%;
  text-align: center;
}
#elements-list-menu .menu-item {
  padding: 0.5%;
}
#elements-list-table {
  border-collapse: collapse;
  width: 95%;
  margin: 0 2.5% 5% 2.5%;
  font-family: calibri;
  font-size: 120%;
}
#elements-list-table .elements-list-th,
#elements-list-table .elements-list-td {
  border: 3px solid #2c3e50;
}
#elements-list-table .elements-list-th {
  background-color: #2c3e50;
  color: white;
}
#elements-list-table .elements-list-td {
  background-color: none;
  color: #2c3e50;
}
.element-td {
  padding: 0;
}
.element-td div.infos {
  padding: 5px;
  margin: 0 -1px;
}
.element-td div.infos div.name {
  float: left;
  margin: 0;
  padding: 0 0 0 5px;
  font-weight: bold;
}
.element-td div.infos div.tags {
  float: right;
  margin: 0;
  padding: 0 5px 0 0;
}
.element-td div.infos div.description {
  clear: both;
  margin: 0;
  padding: 0 0 0 5px;
}
.element-td div.infos div.description span {
  font-style: italic;
}
.from-td ul,
.to-td ul {
  list-style: circle;
}
.buttons-td {
  text-align: center;
}
.buttons-td button {
  margin: 5px 0;
}
.condition {
  font-style: italic;
}
.modal-edit-element {
  width: 60%;
}
.modal-edit-element .form-content {
  min-height: 500px;
}
.modal-edit-element .form-subtitle {
  margin-top: 2%;
}
.modal-edit-element .form-content-link table {
  border-collapse: collapse;
}
.modal-edit-element .form-content-link table td {
  border: 1px solid #2c3e50;
  padding: 2px;
  text-align: center;
}
.modal-edit-element .form-content-link table td textarea {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#elements-tree {
  text-align: center;
}
#elements-tree #image-tree {
  margin: 5% 5% 0 5%;
  border: 1px solid #2c3e50;
}
#elements-tree #generation-log {
  display: none;
  border: 1px solid #2c3e50;
  background-color: #eaeaea;
  text-align: left;
  font-size: 1em;
  font-family: 'Droid Sans Mono', 'Courier New';
  padding: 1%;
  margin: 0 10%;
}
#categories-list-menu {
  margin: 2.5%;
  text-align: center;
}
#categories-list-menu .menu-item {
  padding: 0.5%;
}
#categories-list-table {
  border-collapse: collapse;
  width: 95%;
  margin: 0 2.5% 5% 2.5%;
  font-family: calibri;
  font-size: 120%;
  text-align: center;
}
#categories-list-table .categories-list-th,
#categories-list-table .categories-list-td {
  border: 3px solid #2c3e50;
}
#categories-list-table .categories-list-th {
  background-color: #2c3e50;
  color: white;
}
#categories-list-table .categories-list-td {
  background-color: none;
  color: #2c3e50;
}
.buttons-td {
  text-align: center;
}
.buttons-td button {
  margin: 5px 0;
}
.colorpicker-red,
.colorpicker-green,
.colorpicker-blue {
  width: 300px;
  margin: 15px;
}
.colorpicker-swatch {
  width: 120px;
  height: 100px;
  background-image: none;
}
.colorpicker-red .ui-slider-range {
  background: #ef2929;
}
.colorpicker-red .ui-slider-handle {
  border-color: #ef2929;
}
.colorpicker-green .ui-slider-range {
  background: #8ae234;
}
.colorpicker-green .ui-slider-handle {
  border-color: #8ae234;
}
.colorpicker-blue .ui-slider-range {
  background: #729fcf;
}
.colorpicker-blue .ui-slider-handle {
  border-color: #729fcf;
}
